<div class="container">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <hr />

    <form (ngSubmit)="onSubmit(frm)" #frm=ngForm>

      <div class="form-group">
        <label for="name">Item Name:</label>
        <input type="text" 
                class="form-control" 
                ngModel 
                #name = "ngModel"
                name="name" 
                minlength="2" 
                required >
      </div>

      <div *ngIf="name.touched">
        <div *ngIf="name.errors?.required"  class="alert alert-danger">
            Item Name is Required
        </div>
        <div *ngIf="name.errors?.minlength"  class="alert alert-danger">
            Min 2 characters required.
        </div>
      </div>


      <div class="form-group">
        <label for="price">Item Price:</label>
        <input type="number"
               class="form-control" 
               ngModel 
               #price = "ngModel"
               name="price" 
               required >
      </div>

      <div *ngIf="price.touched">
        <div *ngIf="price.errors?.required" class="alert alert-danger">
            Item Price is Required
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="frm.invalid">Add Item</button>

    </form>

    <hr><br>
    <ul class="list-group">
      <li class="list-group-item" *ngIf = "itemList != ''">
        <strong>Item Name<span class="pull-right"> Item Price</span></strong>
      </li>

      <li class="list-group-item" *ngFor="let item of itemList" (click)="deleteItem(item)">
        ({{ item.id }}) {{ item.name}} <span class="pull-right"> {{ item.price }} </span>
      </li>
    </ul>

</div>

